<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ include("head.html.twig") }}
{% endblock %}
	<body>
{% block header %}
{% if connexionStatut is same as(true) %}
{{ include("header_connected.html.twig") }}
{% else %}
{{ include("header.html.twig") }}
{% endif %}
{% endblock %}
{% block nav %}
{% if connexionStatut is same as(true) %}
{{ include("nav_connected.html.twig") }}
{% else %}
{{ include("nav.html.twig") }}
{% endif %}
{% endblock %}
		<main>
			<section id="sectionAdmin_ManageUsers">
				<div>
					<span id="adminWelcome">Here is the list of our news, boss ! o7</span>
					{% for key, news in displayNewsAdmin %}
					<span class="displayUser"><span class="infoUser">TITLE :</span> {{news['title_news']}} -- <span class="infoUser">DATE :</span> {{news['date_news']}} -- <span class="infoUser">USER :</span> {{usersArray[news["id_user_news"]]}} -- <span class="infoUser">CATEGORY :</span> {{publishSections[news["id_category_news"]]}}</span>
					<article class="displayOptionsManageUser">
						<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=13&id_news={{news['id_news']}}">Delete</a>
					</article>
					{% endfor %}
					<article class="adminArticle"><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=8">GO BACK</a></article>
				</div>
			</section>
		</main>
{% block footer %}
{{ include("footer.html.twig") }}
{% endblock %}
	</body>
</html>