<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ include("head.html.twig") }}
{% endblock %}
	<body>
{% block header %}
{% if connexionStatut is same as(true) %}
{{ include("header_connected.html.twig") }}
{% else %}
{{ include("header.html.twig") }}
{% endif %}
{% endblock %}
{% block nav %}
{% if connexionStatut is same as(true) %}
{{ include("nav_connected.html.twig") }}
{% else %}
{{ include("nav.html.twig") }}
{% endif %}
{% endblock %}
		<main>
			<section id="sectionAdmin_one">
				<span id="adminWelcome">What do you want to do, today, boss ? :D</span>
				<article class="adminArticle"><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=9">MANAGE USERS</a></article>
				<article class="adminArticle"><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=12">MANAGE CONTENT</a></article>
			</section>
		</main>
{% block footer %}
{{ include("footer.html.twig") }}
{% endblock %}
	</body>
</html>