		<footer>
			<div>
				<div><a href="../../index.php?theme={{theme}}&page_number=4"><h4>{{site["button_publish"]}}</h4></a></div>
				<img id="openMenu_tablet" src="{{site['menu_tablet_mobile']}}" alt="image de la nouvelle"></img>
			</div>
			<div>
				<a href=""><h6>{{site["info_sitemap"]}}</h6></a>
				<a href=""><h6>{{site["info_credits"]}}</h6></a>
				<a href=""><h6>{{site["info_legal_mentions"]}}</h6></a>
				<a href=""><h6>{{site["info_contact"]}}</h6></a>
			</div>
		</footer>