		<header>
			<div id="header_box">
				<div id="logo"><a href="../../index.php?theme={{theme}}&page_number=0"><h1>{{site["logo"]}}</h1></a></div>
				<div id="header_desktop">
					<div><a href=""><h4>{{site["button_publish"]}}</h4></a></div>
					<div><a href="../../index.php?theme={{theme}}&page_number=3"><h4>{{site["button_sign_in"]}}</h4></a></div>
					<div><a href="../../index.php?theme={{theme}}&page_number=1"><h4>{{site["button_sign_up"]}}</h4></a></div>
				</div>
				<div id="position_tablet_mobile"><span>{{position}}</span></div>			
			</div>
		</header>