		<header>
			<div id="header_box">
				<div id="logo"><a href="../../index.php?theme={{theme}}&page_number={{page_number}}"><h1>{{site["logo"]}}</h1></a></div>
				<div id="header_desktop_connected">
					<div><a href=""><h4>{{site["button_publish"]}}</h4></a></div>
					<div><a href=""><h4>{{site["button_profil"]}}</h4></a></div>
					<div><a href="../../index.php?theme={{theme}}&page_number=2"><h4>{{site["button_logout"]}}</h4></a></div>
				</div>
				<div id="position_tablet_mobile"><span>{{site["category_fresh"]}}</span></div>			
			</div>
		</header>