		<header>
			<div id="header_box">
				<div id="logo"><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=0"><h1>{{site["logo"]}}</h1></a></div>
				<div id="header_desktop">
					<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=4"><h4>{{site["button_publish"]}}</h4></a></div>
					<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=3"><h4>{{site["button_sign_in"]}}</h4></a></div>
					<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=1"><h4>{{site["button_sign_up"]}}</h4></a></div>
				</div>
				<div id="position_tablet_mobile"><span>{{pagePosition}}</span></div>			
			</div>
		</header>