<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ include("head.html.twig") }}
{% endblock %}
	<body>
{% block header %}
{% if connexionStatut is same as(true) %}
{{ include("header_connected.html.twig") }}
{% else %}
{{ include("header.html.twig") }}
{% endif %}
{% endblock %}
{% block nav %}
{% if connexionStatut is same as(true) %}
{{ include("nav_connected.html.twig") }}
{% else %}
{{ include("nav.html.twig") }}
{% endif %}
{% endblock %}
		<main>
			<section>
			{% for key, currentNew in displayNews %}
				<article class="news">
						<div>
							<a href=""><h2>{{usersArray[currentNew["id_user_news"]]}}</h2></a>
							<div>
								<span>{{currentNew["date_news"]}}</span>
								<h4>{{publishSections[currentNew["id_category_news"]]}}</h4>
							</div>
						</div>
						<div>
							<h3>{{currentNew["title_news"]}}</h3>
						</div>
						<div>
							<p>{% if currentNew["image_news"] is same as("../model/Uploads/") %} {% else %} <img src="../{{currentNew['image_news']}}" alt="image de la nouvelle"></img> {% endif %}{{currentNew["content_news"]}}</p>
						</div>
						<div>
							<a href=""><h4>SOURCES</h4></a>
						</div>
				</article>
			{% endfor %}
			</section>
			<span id="viewMore">{{site["button_viewMore"]}}</span>
		</main>
{% block footer %}
{{ include("footer.html.twig") }}
{% endblock %}
	</body>
</html>