<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ include("head.html.twig") }}
{% endblock %}
	<body>
{% block header %}
{% if connexionStatut is same as(true) %}
{{ include("header_connected.html.twig") }}
{% else %}
{{ include("header.html.twig") }}
{% endif %}
{% endblock %}
{% block nav %}
{% if connexionStatut is same as(true) %}
{{ include("nav_connected.html.twig") }}
{% else %}
{{ include("nav.html.twig") }}
{% endif %}
{% endblock %}
		<main>
			<section>
			{% for key, currentNew in displayNews %}
				<article class="news">
						<div>
							<a href=""><h2>{{usersArray[currentNew["id_user_news"]]}}</h2></a>
							<div>
								<span>{{currentNew["date_news"]}}</span>
								<h4>{{publishSections[currentNew["id_category_news"]]}}</h4>
							</div>
						</div>
						<div>
							<h3>{{currentNew["title_news"]}}</h3>
						</div>
						<div>
							<p>{% if currentNew["image_news"] is same as("../model/Uploads/") %} {% else %} <img src="../{{currentNew['image_news']}}" alt="image de la nouvelle"></img> {% endif %}{{currentNew["content_news"]}}</p>
							<p style="display: none; font-size: 28px">
								1. <a style="color:inherit; text-decoration: none;"  href="{{currentNew['sourceOneUrl_news']}}">{{currentNew["sourceOneTitle_news"]}}</a></br></br>

								{% if currentNew["sourceTwoTitle_news"] != "" %}
								2. <a style="color:inherit; text-decoration: none;;"  href="{{currentNew['sourceTwoUrl_news']}}">{{currentNew["sourceTwoTitle_news"]}}</a></br></br>
								{% endif %}

								{% if currentNew["sourceThreeTitle_news"] != "" %}
								3. <a style="color:inherit; text-decoration: none;"  href="{{currentNew['sourceThreeUrl_news']}}">{{currentNew["sourceThreeTitle_news"]}}</a></br></br>
								{% endif %}
							</p>
						</div>
						<div>
							<span class="sourcesNews"><h4>SOURCES</h4></span>
						</div>
				</article>
			{% endfor %}
			</section>
			<section id="viewMoreBox">
				<span id="viewMore">{{site["button_viewMore"]}}</span>
			</section>
		</main>
{% block footer %}
{{ include("footer.html.twig") }}
{% endblock %}
	</body>
</html>