		<nav>
			<div id="position_desktop">You are in <span>{{pagePosition}}</span> ! :D</div>
			<div id="select_theme">
				<span></span>
				<img src="{{site['switch_theme']}}" alt="icone_for_switch_dark">
			</div>
			<div id="connexion_tablet_mobile">
				<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=3"><h4>{{site["button_sign_in"]}}</h4></a></div>
				<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=1"><h4>{{site["button_sign_up"]}}</h4></a></div>
			</div>							
			<div id="select_category">
				<div>
					<a href=""><img src="{{site['image_category_fresh']}}" alt="icone_for_fresh"></img></a>
					<a href=""><h4>{{site["category_fresh"]}}</h4></a>
				</div>
				<div>
					<a href=""><img src="{{site['image_category_politics']}}" alt="icone_for_politics"></img></a>
					<a href=""><h4>{{site["category_politics"]}}</h4></a>
				</div>
			</div>
			<div id="infos_tablet_mobile">
				<a href=""><h6>{{site["info_sitemap"]}}</h6></a>
				<a href=""><h6>{{site["info_credits"]}}</h6></a>
				<a href=""><h6>{{site["info_legal_mentions"]}}</h6></a>
				<a href=""><h6>{{site["info_contact"]}}</h6></a>
			</div>
		</nav>