		<nav>
			<div id="position_desktop">You are in {% if publishColor is same as(true) %}<span style="color: #0099CC;">{{pagePosition}}</span>{% elseif adminColor is same as(true) %}<span style="color: #AFE88D;">{{pagePosition}}</span>{% else %}<span>{{pagePosition}}</span>{% endif %} ! :D</div>
			<div id="select_theme">
				<span></span>
				<img src="{{site['switch_theme']}}" alt="icone_for_switch_dark">
			</div>
			<div id="connected_tablet_mobile">
				{% if typeUser == 'admin' %}<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=8"><h4>{{site["button_admin"]}}</h4></a></div>{% endif %}
				<div><a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=2"><h4>{{site["button_logout"]}}</h4></a></div>
			</div>							
			<div id="select_category">
		    	<div>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=0"><img src="{{site['image_category_fresh']}}" alt="icone_for_fresh"></img></a>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=0"><h4>{{site['category_fresh']}}</h4></a>
				</div>
		    	<div>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=8"><img src="{{browseCategory[2]}}" alt="icone_for_politics"></img></a>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=8"><h4>{{publishSections[2]}}</h4></a>
				</div>
		    	<div>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=9"><img src="{{browseCategory[3]}}" alt="icone_for_animals"></img></a>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=9"><h4>{{publishSections[3]}}</h4></a>
				</div>
		    	<div>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=10"><img src="{{browseCategory[4]}}" alt="icone_for_satirical"></img></a>
					<a href="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=10"><h4>{{publishSections[4]}}</h4></a>
				</div>
			</div>
			<div id="infos_tablet_mobile">
				<a href=""><h6>{{site["info_sitemap"]}}</h6></a>
				<a href=""><h6>{{site["info_credits"]}}</h6></a>
				<a href=""><h6>{{site["info_legal_mentions"]}}</h6></a>
				<a href=""><h6>{{site["info_contact"]}}</h6></a>
			</div>
		</nav>