<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ include("head.html.twig") }}
{% endblock %}
	<body>
{% block header %}
{% if connexionStatut is same as(true) %}
{{ include("header_connected.html.twig") }}
{% else %}
{{ include("header.html.twig") }}
{% endif %}
{% endblock %}
{% block nav %}
{% if connexionStatut is same as(true) %}
{{ include("nav_connected.html.twig") }}
{% else %}
{{ include("nav.html.twig") }}
{% endif %}
{% endblock %}
		<main>
			<section>
				<article id="registerForm">
					<form method="post" action="../../index.php?selectedTheme={{selectedTheme}}&pageNumber=1">
						<label id="email">{{site["emailAdress"]}}</label>
						<input type="text" name="email" id="email_form" value="{{registerEmail}}" required>
						<label id="login">{{site["login"]}}</label>
						<input type="text" name="login" id="login_form" value="{{registerLogin}}" required>
						<p id="loginCondition" style="font-size: 20px; margin: -30px 0px 22px 0px; font-weight: bold;">10 characters max, no white spaces, no special characters.</p>
						<label id="password">{{site["password"]}}</label>
						<input type="password" minlength="12" name="password" id="password_form" required>
						<p id="passwordCondition" style="font-size: 20px; margin: -30px 0px 22px 0px; font-weight: bold;">12 characters minimum, no white spaces.</p>
						<!-- <p id="passwordCondition" style="display: none; font-size: 18px; margin: -30px 0px 22px 0px; font-style: italic;">It still needs :<span> 12 characters,</span> <span>1 majuscule,</span> <span>1 miniscule,</span> <span>1 digit,</span> <span>1 special character</span></p> -->
						<label id="confirmPassword">{{site["repeatPassword"]}}</label>
						<input type="password" minlength="12" name="confirmPassword" id="confirmPassword_form" required>
						<input type="submit" name="submit" value="REGISTER">
						<input type="hidden" name="formSent" value="1">
						<span style="color: red; text-align: center;">{{registerError}}</span>
					</form>
				</article>	
			</section>	
		</main>
{% block footer %}
{{ include("footer.html.twig") }}
{% endblock %}
	</body>
</html>